.twitter{
  background:#000;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

h1{
  text-align: center;
}

header {
  text-align: center;
}
header img{
  text-align: center;
  margin: 20px auto;
  
}